<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net47" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="WebSharper" version="4.5.18.348" targetFramework="net47" />
  <package id="WebSharper.FSharp" version="4.5.18.348" targetFramework="net47" />
  <package id="WebSharper.Google.Maps" version="4.5.1.143" targetFramework="net47" />
  <package id="WebSharper.Html" version="4.5.1.157" targetFramework="net47" />
  <package id="WebSharper.JQueryUI" version="4.5.1.142" targetFramework="net47" />
  <package id="WebSharper.Owin" version="4.5.2.167" targetFramework="net47" />
  <package id="WebSharper.Remarkable" version="4.5.2.166" targetFramework="net47" />
  <package id="WebSharper.Swiper" version="4.5.1.164" targetFramework="net47" />
  <package id="WebSharper.UI" version="4.5.12.178" targetFramework="net47" />
</packages>