<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net47" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="WebSharper" version="4.5.18.348" targetFramework="net47" />
  <package id="WebSharper.FSharp" version="4.5.18.348" targetFramework="net47" />
  <package id="WebSharper.Html" version="4.5.1.157" targetFramework="net47" />
  <package id="WebSharper.JQueryUI" version="4.5.1.142" targetFramework="net47" />
  <package id="WebSharper.UI" version="4.5.12.178" targetFramework="net47" />
</packages>