<div class="panel panel-default">
    <div class="panel-heading">
        Form Elements
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <div ws-replace="MsgBox"></div>
                    <div class="form-group">
                        <label>Datepicker Reactive Input</label>
                        <input class="form-control" ws-replace="DatepickerWidget">
                        <p class="help-block">jQuery Datepicker widget bound to a WebSharper UI reactive variable.</p>
                        <p class="help-block">${SelectedDate}</p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
