<div class="panel panel-default">
    <div class="panel-heading">
        Form Elements
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <div class="form-group">
                        <label>AutoComplete Reactive Input</label>
                        <input class="form-control" ws-replace="Widget">
                        <p class="help-block">jQuery Autocomplete widget bound to a WebSharper UI reactive variable.</p>
                        <p class="help-block">${WidgetState1}</p>
                        <p class="help-block">${WidgetState2}</p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
