<li class="dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="javascript:void(0)" ws-onclick="UserProfileClick"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li>
            <a href="javascript:void(0)" ws-onclick="ConfigClick"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="javascript:void(0)" ws-onclick="LogOutClick"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>

</li>
